@import "tailwindcss";
@plugin "daisyui";

/*Font Media Query*/

@utility font96 {
  @apply text-[40px] lg:text-[40px]  xl:text-[45px] 2xl:text-[76px] [@media(min-width:1800px)]:text-[96px];
}
@utility font72 {
  @apply text-[28px] lg:text-[36px] xl:text-[46px] 2xl:text-[58px] [@media(min-width:1800px)]:text-[72px];
}
@utility font60 {
  @apply text-[20px] md:text-[24px] lg:text-[30px] xl:text-[38px] 2xl:text-[48px] [@media(min-width:1800px)]:text-[60px];
}
@utility font48 {
  @apply text-[16px] md:text-[20px] lg:text-[24px] xl:text-[30px] 2xl:text-[38px] [@media(min-width:1800px)]:text-[48px];
}
@utility font40 {
  @apply text-[16px] lg:text-[20px] xl:text-[24px] 2xl:text-[32px] [@media(min-width:1800px)]:text-[40px];
}
@utility font36 {
  @apply text-[14px] lg:text-[18px] xl:text-[22px] 2xl:text-[28px] [@media(min-width:1800px)]:text-[36px];
}
@utility font32 {
  @apply text-[16px] md:text-[20px] xl:text-[26px] 2xl:text-[26px] [@media(min-width:1800px)]:text-[32px];
}
@utility font28 {
  @apply text-[14px] md:text-[18px] xl:text-[22px] 2xl:text-[26px] [@media(min-width:1800px)]:text-[28px];
}
@utility font24 {
  @apply text-[14px] md:text-[16px] xl:text-[18px] 2xl:text-[20px] [@media(min-width:1800px)]:text-[24px];
}
@utility font22 {
  @apply text-[14px] xl:text-[16px] 2xl:text-[18px] [@media(min-width:1800px)]:text-[22px];
}
@utility font20 {
  @apply text-[12px] md:text-[14px] xl:text-[16px] 2xl:text-[20px];
}
@utility font18 {
  @apply text-[12px] md:text-[14px] xl:text-[16px] 2xl:text-[18px];
}
@utility font16 {
  @apply text-[12px] md:text-[14px] 2xl:text-[16px];
}
@utility font14 {
  @apply text-[12px] lg:text-[14px];
}
@utility wrapper {
  @apply px-[20px] md:px-[30px] xl:px-[40px] 2xl:px-[60px] [@media(min-width:1800px)]:px-[80px];
}

@theme {
  --animate-wiggle: wiggle 4s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: translateY(-10%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

@layer components {
  .btnLiFeed {
    @apply w-12 h-12 bg-[#2f2f2f] flex items-center justify-center rounded-full p-2.5 cursor-pointer hover:bg-[#3d2828] transition-all;
  }
}
